.modal-interact-button-secondary {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #9747FF;
    -fx-border-color: #9747FF;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.modal-interact-button-secondary:hover {
    -fx-background-color: #f2e6ff;
}

.progress-bar-vagas .bar {
    -fx-background-color: #9747FF;
    -fx-padding: 4px;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
}

.progress-bar-vagas .track {
    -fx-background-color: #E0E0E0;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
}

.tag-label {
    -fx-background-color: #F2E6FF;
    -fx-text-fill: #9747FF;
    -fx-font-family: "Poppins";
    -fx-font-size: 12px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 15px;
}

.layout-pane {
    -fx-background-color: #FFFFFF;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #E0E0E0;
}