.register-field {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-width: 0px;
    -fx-font-size: 14px;
    -fx-padding: 8px;
}

.register-field:focused {
    -fx-border-color: #7A2074;
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
}

.purple-checkbox > .box {
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-background-color: transparent;
    -fx-border-color: #7A2074;
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
}

.purple-checkbox:selected > .box {
    -fx-background-color: #7A2074;
    -fx-border-color: #7A2074;
}

.purple-checkbox > .box > .mark {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.purple-checkbox.register-field:focused {
    -fx-border-color: #7A2074;
    -fx-border-width: 2px;
}

.login-button {
    -fx-background-color: #7A2074;
    -fx-text-fill: #cccccc;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
}

.login-button:hover {
    -fx-background-color: #9a009a;
    -fx-cursor: hand;
}

.register-button {
    -fx-background-color: #7A2074;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
}

.register-button:hover {
    -fx-background-color: #9a009a;
    -fx-cursor: hand;
}
.error-label {
    -fx-font-size: 0.9em;
}
.form-field {
    -fx-text-fill: lightgray;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-family: "System";
}